DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,51.92.198.125
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_SECURE_SSL_REDIRECT=false

DB_NAME=catastro
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

POSTGRES_DB=catastro
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

GDAL_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu/libgdal.so